In [21]:
import mysql.connector
from tqdm import tqdm
import csv
import pandas as pd

## (1) MySQL에 스키마 생성

In [23]:
def requirement1(host, user, password):
    cnx = mysql.connector.connect(host=host, user=user, password=password)
    cursor = cnx.cursor()
    cursor.execute('SET GLOBAL innodb_buffer_pool_size=2*1024*1024*1024;')
    
    cursor.execute('DROP DATABASE IF EXISTS DMA_team02;')
    cursor.execute('CREATE DATABASE IF NOT EXISTS DMA_team02;')
    cursor.execute('USE DMA_team02;')
    cnx.commit()

## (2) 테이블 생성

In [24]:
def requirement2(host, user, password, db_name):
    cnx = mysql.connector.connect(host=host, user=user, password=password, database=db_name)
    cursor = cnx.cursor()
    cursor.execute('SET GLOBAL innodb_buffer_pool_size=2*1024*1024*1024;')

    cursor.execute('''
    CREATE TABLE USER(
    id INT(11) NOT NULL,
    Name VARCHAR(255),
    PRIMARY KEY (id)
    );
    ''')
    
    cursor.execute('''
    CREATE TABLE ANIME(
    id INT(11) NOT NULL,
    Name VARCHAR(255),
    Aired VARCHAR(255),
    Premiered VARCHAR(255),
    Source VARCHAR(255),
    studio_id INT(11),
    PRIMARY KEY (id)
    );
    ''')
    
    cursor.execute('''
    CREATE TABLE PRODUCER(
    id INT(11) NOT NULL,
    Name VARCHAR(255),
    PRIMARY KEY (id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE DIRECTOR(
    producer_id INT(11) NOT NULL,
    director VARCHAR(255) NOT NULL,
    age INT(11),
    sex VARCHAR(255),
    PRIMARY KEY (producer_id, director)
    );
    ''')

    cursor.execute('''
    CREATE TABLE GENRE(
    id INT(11) NOT NULL,
    Name VARCHAR(255),
    PRIMARY KEY (id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE LICENSOR(
    id INT(11) NOT NULL,
    Name VARCHAR(255),
    Type VARCHAR(255),
    PRIMARY KEY (id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE MAIL(
    id INT(11) NOT NULL,
    user_id INT(11),
    producer_id INT(11),
    body VARCHAR(255),
    PRIMARY KEY (id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE STUDIO(
    id INT(11) NOT NULL,
    Name VARCHAR(255),
    NoM INT(11),
    genre_id INT(11),
    PRIMARY KEY (id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE ANIME_GENRE(
    anime_id INT(11) NOT NULL,
    genre_id INT(11) NOT NULL,
    PRIMARY KEY (anime_id, genre_id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE ANIME_LICENSOR(
    anime_id INT(11) NOT NULL,
    licensor_id INT(11) NOT NULL,
    PRIMARY KEY (anime_id, licensor_id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE ANIME_PRODUCER(
    anime_id INT(11) NOT NULL,
    producer_id INT(11) NOT NULL,
    PRIMARY KEY (anime_id, producer_id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE ANIME_USER_RATING(
    user_id INT(11) NOT NULL,
    anime_id INT(11) NOT NULL,
    rating INT(11),
    PRIMARY KEY (user_id, anime_id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE ANIME_USER_STATUS(
    user_id INT(11) NOT NULL,
    anime_id INT(11) NOT NULL,
    watching_status INT(11),
    watched_episodes INT(11),
    PRIMARY KEY (user_id, anime_id)
    );
    ''')

    cursor.execute('''
    CREATE TABLE LICENSE_SHARING(
    sharing INT(11) NOT NULL,
    shared INT(11) NOT NULL,
    sharing_type VARCHAR(255),
    PRIMARY KEY (sharing, shared)
    );
    ''')
    cnx.commit()

## (3) 테이블에 데이터 삽입

In [25]:
def requirement3(host, user, password, directory, db_name):
    cnx = mysql.connector.connect(host=host, user=user, password=password, database=db_name)
    cursor = cnx.cursor()
    cursor.execute('SET GLOBAL innodb_buffer_pool_size=2*1024*1024*1024;')
    
    ## user데이터 삽입
    filepath = directory + '/' + 'user.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx == 0:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO USER VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## producer데이터 삽입
    filepath = directory + '/' + 'producer.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx == 0:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO PRODUCER VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## director데이터 삽입
    filepath = directory + '/' + 'director.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,2]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO DIRECTOR VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)
            
    ## genre데이터 삽입
    filepath = directory + '/' + 'genre.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx == 0:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO GENRE VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## licensor데이터 삽입
    filepath = directory + '/' + 'licensor.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx == 0:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO LICENSOR VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## mail데이터 삽입
    filepath = directory + '/' + 'mail.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,1,2]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO MAIL VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## studio데이터 삽입
    filepath = directory + '/' + 'studio.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,2,3]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO STUDIO VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## anime_genre데이터 삽입
    filepath = directory + '/' + 'anime_genre.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,1]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO ANIME_GENRE VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)
    
    ## anime_licensor데이터 삽입
    filepath = directory + '/' + 'anime_licensor.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,1]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO ANIME_LICENSOR VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## anime_producer데이터 삽입
    filepath = directory + '/' + 'anime_producer.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,1]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO ANIME_PRODUCER VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## anime_user_rating데이터 삽입
    filepath = directory + '/' + 'anime_user_rating.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,1,2]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO ANIME_USER_RATING VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)  

    ## anime_user_status데이터 삽입
    filepath = directory + '/' + 'anime_user_status.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,1,2,3]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO ANIME_USER_STATUS VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)            

    ## license_sharing데이터 삽입
    filepath = directory + '/' + 'license_sharing.csv'
    
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            row = row.strip().split(',')

            for idx, data in enumerate(row):
                if data == '':
                    row[idx] = 'null'
                if idx in [0,1]:
                    row[idx] = int(data)
            row = tuple(row)
            sql = 'INSERT INTO LICENSE_SHARING VALUES {};'.format(row)
            sql = sql.replace('\'null\'', 'null')
            cursor.execute(sql)

    ## anime 데이터 삽입 -> anime테이블의 'Aired' 칼럼값에는 ,(콜론)이 들어가 있어 split(',')을 하게 되면 값이 분리되기 때문에 다른 방식으로 삽입해야함
    filepath = directory + '/' + 'anime.csv'
    with open(filepath, 'r', encoding='utf-8') as csv_data:
        for row in csv_data.readlines()[1:]:
            import csv
            from io import StringIO
            f = StringIO(row)
            reader = csv.reader(f)
            for r in reader:
                r.pop(3) #'Primiered' 컬럼은 파생정보로서 관리돼야하기 때문에 삭제
                for idx, data in enumerate(r):
                    if data == '':
                        r[idx] = 'null'
                    if idx in [0,5]:
                        r[idx] = int(data)
                r = tuple(r)
                sql = 'INSERT INTO ANIME(id, Name, Aired, Source, studio_id) VALUES ({},"{}","{}","{}",{});'.format(r[0],r[1],r[2],r[3],r[4])
                sql = sql.replace('\'null\'', 'null')
                cursor.execute(sql)     
    cnx.commit()

## (4) foreign key 제약조건 추가

In [26]:
def requirement4(host, user, password, db_name):
    cnx = mysql.connector.connect(host=host, user=user, password=password, database=db_name)
    cursor = cnx.cursor()
    cursor.execute('SET GLOBAL innodb_buffer_pool_size=2*1024*1024*1024;')

    ## anime테이블 제약조건
    cursor.execute('''
    ALTER TABLE ANIME ADD CONSTRAINT FOREIGN KEY (studio_id) REFERENCES STUDIO(id);
    ''')
    ## anime_user_status테이블 제약조건
    cursor.execute('''
    ALTER TABLE ANIME_USER_STATUS ADD CONSTRAINT FOREIGN KEY (anime_id) REFERENCES ANIME(id);
    ''')
    cursor.execute('''
    ALTER TABLE ANIME_USER_STATUS ADD CONSTRAINT FOREIGN KEY (user_id) REFERENCES USER(id);
    ''')
    ## anime_user_rating테이블 제약조건
    cursor.execute('''
    ALTER TABLE ANIME_USER_RATING ADD CONSTRAINT FOREIGN KEY (anime_id) REFERENCES ANIME(id);
    ''')
    cursor.execute('''
    ALTER TABLE ANIME_USER_RATING ADD CONSTRAINT FOREIGN KEY (user_id) REFERENCES USER(id);
    ''')
    ## anime_producer테이블 제약조건
    cursor.execute('''
    ALTER TABLE ANIME_PRODUCER ADD CONSTRAINT FOREIGN KEY (anime_id) REFERENCES ANIME(id);
    ''')
    cursor.execute('''
    ALTER TABLE ANIME_PRODUCER ADD CONSTRAINT FOREIGN KEY (producer_id) REFERENCES PRODUCER(id);
    ''')
    ## director테이블 제약조건
    cursor.execute('''
    ALTER TABLE DIRECTOR ADD CONSTRAINT FOREIGN KEY (producer_id) REFERENCES PRODUCER(id);
    ''')
    # ## producer_director테이블 제약조건
    # cursor.execute('''
    # ALTER TABLE PRODUCER_DIRECTOR ADD CONSTRAINT FOREIGN KEY (producer_id) REFERENCES PRODUCER(id);
    # ''')
    ## studio테이블 제약조건
    cursor.execute('''
    ALTER TABLE STUDIO ADD CONSTRAINT FOREIGN KEY (genre_id) REFERENCES GENRE(id);
    ''')
    ## anime_genre테이블 제약조건
    cursor.execute('''
    ALTER TABLE ANIME_GENRE ADD CONSTRAINT FOREIGN KEY (anime_id) REFERENCES ANIME(id);
    ''')
    cursor.execute('''
    ALTER TABLE ANIME_GENRE ADD CONSTRAINT FOREIGN KEY (genre_id) REFERENCES GENRE(id);
    ''')
    ## mail테이블 제약조건
    cursor.execute('''
    ALTER TABLE MAIL ADD CONSTRAINT FOREIGN KEY (user_id) REFERENCES USER(id);
    ''')
    cursor.execute('''
    ALTER TABLE MAIL ADD CONSTRAINT FOREIGN KEY (producer_id) REFERENCES PRODUCER(id);
    ''')
    ## anime_licensor테이블 제약조건
    cursor.execute('''
    ALTER TABLE ANIME_LICENSOR ADD CONSTRAINT FOREIGN KEY (anime_id) REFERENCES ANIME(id);
    ''')
    cursor.execute('''
    ALTER TABLE ANIME_LICENSOR ADD CONSTRAINT FOREIGN KEY (licensor_id) REFERENCES LICENSOR(id);
    ''')
    ## license_sharing테이블 제약조건
    cursor.execute('''
    ALTER TABLE LICENSE_SHARING ADD CONSTRAINT FOREIGN KEY (sharing) REFERENCES LICENSOR(id);
    ''')
    cursor.execute('''
    ALTER TABLE LICENSE_SHARING ADD CONSTRAINT FOREIGN KEY (shared) REFERENCES LICENSOR(id);
    ''')
    cnx.commit()

In [27]:
host = 'localhost'
user = 'root'
password = ''
db_name = 'DMA_team02'
directory_in = 'C:/Users/Lenovo/Desktop/포트폴리오 프로젝트/dataset'

In [28]:
requirement1(host=host, user=user, password=password)
requirement2(host=host, user=user, password=password, db_name=db_name)

In [29]:
requirement3(host=host, user=user, password=password, directory=directory_in, db_name=db_name)
requirement4(host=host, user=user, password=password, db_name=db_name)
print('Done!')

Done!

## (5) view 생성

### (5-1) 평점이 8점 이상인 애니를 제작한 스튜디오

In [35]:
def requirement5(host, user, password, db_name):
    cnx = mysql.connector.connect(host=host, user=user, password=password, database=db_name)
    cursor = cnx.cursor()
    cursor.execute('SET GLOBAL innodb_buffer_pool_size=2*1024*1024*1024;')

    query = '''
    CREATE VIEW HighRateAnime AS
    SELECT
        S.Name AS StudioName,
        A.Name AS AnimeName,
        R.Rating AS Rating
    FROM STUDIO AS S
    JOIN ANIME AS A ON S.id = A.studio_id
    JOIN ANIME_USER_RATING AS R ON A.id = R.anime_id
    WHERE R.rating >= 8;
    '''
    cursor.execute(query)
    cnx.commit()
    
host = 'localhost'
user = 'root'
password = ''
db_name = 'DMA_team02'

requirement5(host, user, password, db_name)

### (5-2) 사용자 n명 이상이 시청하고, 시청한 사용자가 매긴 평균평점이 m점 이상인 장르별 애니메이션

In [36]:
def requirement6(host, user, password, db_name):
    cnx = mysql.connector.connect(host=host, user=user, password=password, database=db_name)
    cursor = cnx.cursor()
    cursor.execute('SET GLOBAL innodb_buffer_pool_size=2*1024*1024*1024;')

    n = int(input('viewr 수 : '))
    m = float(input('평균 rating : '))
    
    query = '''
    CREATE VIEW AnimeGenre AS
    SELECT
        G.Name AS GenreName,
        A.id AS AnimeId,
        A.Name AS AnimeName,
        AVG(AUR.rating) AS AverageRating,
        COUNT(AUR.user_id) AS viewers
    FROM 
        ANIME AS A
    JOIN 
        ANIME_GENRE AS AG ON A.id = AG.anime_id
    JOIN 
        ANIME_USER_RATING AS AUR ON A.id = AUR.anime_id
    JOIN 
        GENRE AS G ON AG.genre_id = G.id
    GROUP BY 
        AG.genre_id, A.id, A.Name
    HAVING
        viewers >= %(n)s AND AverageRating >= %(m)s;
    '''
    cursor.execute(query, {'n':n, 'm':m})
    cnx.commit()
    
host = 'localhost'
user = 'root'
password = ''
db_name = 'DMA_team02'

requirement6(host, user, password, db_name)

viewr 수 :  100
평균 rating :  8